In [14]:
import json
import pandas as pd
import pickle
input_file = open('pivot_dict_byDecade.dat','rb')
pivot_dict = pickle.load(input_file)
input_file.close()

In [15]:
year = '1950s'
df = pivot_dict[year]
df = df.drop(['Genre'], 1)
df

,Alternative,Blues,Country,Dance,Disco,Electronic,Folk,Indie,Jazz,Latin,Metal,Pop,Rap,Reggae,Rock
0,39,32,12,12,0,1,14,4,17,0,5,18,3,0,31
1,32,785,102,192,1,5,49,9,312,18,21,392,13,3,495
2,12,102,320,57,0,0,76,7,33,16,9,154,15,0,206
3,12,192,57,350,1,8,10,3,99,38,2,283,12,3,282
4,0,1,0,1,5,1,0,0,3,1,2,4,0,0,2
5,1,5,0,8,1,13,1,1,4,2,1,11,4,0,5
6,14,49,76,10,0,1,147,3,21,3,8,38,7,2,74
7,4,9,7,3,0,1,3,21,7,0,0,14,0,0,10
8,17,312,33,99,3,4,21,7,875,48,30,255,22,4,210
9,0,18,16,38,1,2,3,0,48,78,2,47,6,0,36
10,5,21,9,2,2,1,8,0,30,2,39,15,4,0,29
11,18,392,154,283,4,11,38,14,255,47,15,819,20,5,569
12,3,13,15,12,0,4,7,0,22,6,4,20,44,0,24
13,0,3,0,3,0,0,2,0,4,0,0,5,0,7,3
14,31,495,206,282,2,5,74,10,210,36,29,569,24,3,896

In [16]:
data = {
    'name' : list(df.columns),
    'color' : ["#9ACD32", "#377DB8", "#F5DEB3", "#EE82EE", "#40E0D0", "#FF6347",
                "#D8BFD8", "#D2B48C", "#4682B4", "#00FF7F", "#FFFAFA", "#708090",
                "#708090", "#6A5ACD", "#87CEEB"]
}
genre_color_df = pd.DataFrame(data)
genre_color_df

      color         name
0   #9ACD32  Alternative
1   #377DB8        Blues
2   #F5DEB3      Country
3   #EE82EE        Dance
4   #40E0D0        Disco
5   #FF6347   Electronic
6   #D8BFD8         Folk
7   #D2B48C        Indie
8   #4682B4         Jazz
9   #00FF7F        Latin
10  #FFFAFA        Metal
11  #708090          Pop
12  #708090          Rap
13  #6A5ACD       Reggae
14  #87CEEB         Rock

In [17]:
matrix = []
matrix_np = df.as_matrix()
for vector in matrix_np:
    matrix.append(list(vector))
json.dumps(matrix)

'[[39, 32, 12, 12, 0, 1, 14, 4, 17, 0, 5, 18, 3, 0, 31], [32, 785, 102, 192, 1, 5, 49, 9, 312, 18, 21, 392, 13, 3, 495], [12, 102, 320, 57, 0, 0, 76, 7, 33, 16, 9, 154, 15, 0, 206], [12, 192, 57, 350, 1, 8, 10, 3, 99, 38, 2, 283, 12, 3, 282], [0, 1, 0, 1, 5, 1, 0, 0, 3, 1, 2, 4, 0, 0, 2], [1, 5, 0, 8, 1, 13, 1, 1, 4, 2, 1, 11, 4, 0, 5], [14, 49, 76, 10, 0, 1, 147, 3, 21, 3, 8, 38, 7, 2, 74], [4, 9, 7, 3, 0, 1, 3, 21, 7, 0, 0, 14, 0, 0, 10], [17, 312, 33, 99, 3, 4, 21, 7, 875, 48, 30, 255, 22, 4, 210], [0, 18, 16, 38, 1, 2, 3, 0, 48, 78, 2, 47, 6, 0, 36], [5, 21, 9, 2, 2, 1, 8, 0, 30, 2, 39, 15, 4, 0, 29], [18, 392, 154, 283, 4, 11, 38, 14, 255, 47, 15, 819, 20, 5, 569], [3, 13, 15, 12, 0, 4, 7, 0, 22, 6, 4, 20, 44, 0, 24], [0, 3, 0, 3, 0, 0, 2, 0, 4, 0, 0, 5, 0, 7, 3], [31, 495, 206, 282, 2, 5, 74, 10, 210, 36, 29, 569, 24, 3, 896]]'

In [18]:
matrixFilePath = 'visualizations/data/matrix' + str(year) + '.json'
genresFilePath = 'visualizations/data/genres' + str(year) + '.csv'
with open(matrixFilePath, 'w') as f:
    json.dump(matrix, f)
genre_color_df.to_csv(genresFilePath, index=False)