In [70]:
import json
import pandas as pd
import pickle
input_file = open('pivot_dict_byDecade.dat','rb')
pivot_dict = pickle.load(input_file)
input_file.close()

In [71]:
year = '1990s'
df = pivot_dict[year]
df = df.drop(['Genre'], 1)
df

,Alternative,Blues,Country,Dance,Disco,Electronic,Folk,Indie,Jazz,Latin,Metal,Pop,Rap,Reggae,Rock
0,11821,800,547,1955,452,2337,1463,5178,1291,255,2220,6092,1014,268,9967
1,800,6194,472,615,175,251,566,491,1472,62,299,1640,375,67,2737
2,547,472,4315,354,62,97,838,449,196,41,87,996,82,24,1595
3,1955,615,354,8229,1140,3430,463,1039,1595,397,581,4152,848,601,3463
4,452,175,62,1140,2030,762,126,285,486,85,155,1221,189,45,916
5,2337,251,97,3430,762,8741,426,1290,2116,175,764,3144,560,178,3229
6,1463,566,838,463,126,426,4927,1172,565,194,601,1796,177,70,2729
7,5178,491,449,1039,285,1290,1172,7884,706,102,735,4611,528,138,6347
8,1291,1472,196,1595,486,2116,565,706,10519,443,471,2244,783,166,2494
9,255,62,41,397,85,175,194,102,443,2038,108,827,120,105,829
10,2220,299,87,581,155,764,601,735,471,108,9941,1304,602,92,5451
11,6092,1640,996,4152,1221,3144,1796,4611,2244,827,1304,18551,1220,411,11167
12,1014,375,82,848,189,560,177,528,783,120,602,1220,4283,214,1502
13,268,67,24,601,45,178,70,138,166,105,92,411,214,2196,888
14,9967,2737,1595,3463,916,3229,2729,6347,2494,829,5451,11167,1502,888,31295

In [72]:
data = {
    'name' : list(df.columns),
    'color' : ["#9ACD32", "#377DB8", "#F5DEB3", "#EE82EE", "#40E0D0", "#FF6347",
                "#D8BFD8", "#D2B48C", "#4682B4", "#00FF7F", "#FFFAFA", "#708090",
                "#708090", "#6A5ACD", "#87CEEB"]
}
genre_color_df = pd.DataFrame(data)
genre_color_df

      color         name
0   #9ACD32  Alternative
1   #377DB8        Blues
2   #F5DEB3      Country
3   #EE82EE        Dance
4   #40E0D0        Disco
5   #FF6347   Electronic
6   #D8BFD8         Folk
7   #D2B48C        Indie
8   #4682B4         Jazz
9   #00FF7F        Latin
10  #FFFAFA        Metal
11  #708090          Pop
12  #708090          Rap
13  #6A5ACD       Reggae
14  #87CEEB         Rock

In [73]:
matrix = []
matrix_np = df.as_matrix()
for vector in matrix_np:
    matrix.append(list(vector))
json.dumps(matrix)

'[[11821, 800, 547, 1955, 452, 2337, 1463, 5178, 1291, 255, 2220, 6092, 1014, 268, 9967], [800, 6194, 472, 615, 175, 251, 566, 491, 1472, 62, 299, 1640, 375, 67, 2737], [547, 472, 4315, 354, 62, 97, 838, 449, 196, 41, 87, 996, 82, 24, 1595], [1955, 615, 354, 8229, 1140, 3430, 463, 1039, 1595, 397, 581, 4152, 848, 601, 3463], [452, 175, 62, 1140, 2030, 762, 126, 285, 486, 85, 155, 1221, 189, 45, 916], [2337, 251, 97, 3430, 762, 8741, 426, 1290, 2116, 175, 764, 3144, 560, 178, 3229], [1463, 566, 838, 463, 126, 426, 4927, 1172, 565, 194, 601, 1796, 177, 70, 2729], [5178, 491, 449, 1039, 285, 1290, 1172, 7884, 706, 102, 735, 4611, 528, 138, 6347], [1291, 1472, 196, 1595, 486, 2116, 565, 706, 10519, 443, 471, 2244, 783, 166, 2494], [255, 62, 41, 397, 85, 175, 194, 102, 443, 2038, 108, 827, 120, 105, 829], [2220, 299, 87, 581, 155, 764, 601, 735, 471, 108, 9941, 1304, 602, 92, 5451], [6092, 1640, 996, 4152, 1221, 3144, 1796, 4611, 2244, 827, 1304, 18551, 1220, 411, 11167], [1014, 375, 82, 848, 189, 560, 177, 528, 783, 120, 602, 1220, 4283, 214, 1502], [268, 67, 24, 601, 45, 178, 70, 138, 166, 105, 92, 411, 214, 2196, 888], [9967, 2737, 1595, 3463, 916, 3229, 2729, 6347, 2494, 829, 5451, 11167, 1502, 888, 31295]]'

In [59]:
matrixFilePath = 'visualizations/data/matrix' + str(year) + '.json'
genresFilePath = 'visualizations/data/genres' + str(year) + '.csv'
with open(matrixFilePath, 'w') as f:
    json.dump(matrix, f)
genre_color_df.to_csv(genresFilePath, index=False)