In [1]:
import pandas as pd
import sqlite3

In [2]:
#Read dataset
tid_genre = pd.read_table('msd_tagtraum_cd1.cls', sep = '\t', names = ['tid','majority_genre','minority_genre'])

In [5]:
#Add table to database
_DBName = '../../MillionSongSubset/lastfm_tags.db'
_TableName = u'track_genre_clean'

In [6]:
#Function taken from http://yznotes.com/write-pandas-dataframe-to-sqlite/
def df2sqlite(dataframe, db_name, tbl_name):
    conn=sqlite3.connect(db_name)
    conn.text_factory = lambda x: unicode(x, "utf-8", "ignore")    
    cur = conn.cursor()                                 
 
    wildcards = ','.join(['?'] * len(dataframe.columns))    
    data = [tuple(x) for x in dataframe.values]

    cur.execute("drop table if exists %s" % tbl_name)
 
    col_str = '"' + '","'.join(dataframe.columns) + '"'
    cur.execute("create table %s (%s)" % (tbl_name, col_str))
 
    cur.executemany("insert into %s values(%s)" % (tbl_name, wildcards), data)
 
    conn.commit()
    conn.close()

In [8]:
df2sqlite(tid_genre, db_name = _DBName, tbl_name = _TableName)

In [9]:
# See the tables
conn=sqlite3.connect(_DBName)
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[(u'tags',), (u'tids',), (u'tid_tag',), (u'track_year',), (u'track_acoustic',), (u'track_genre_clean',)]

In [12]:
#View Genres
query = "SELECT DISTINCT majority_genre FROM track_genre_clean ORDER BY majority_genre"
df = pd.read_sql_query(query, conn)
df

   majority_genre
0           Blues
1         Country
2      Electronic
3            Folk
4   International
5            Jazz
6           Latin
7         New Age
8        Pop_Rock
9             Rap
10         Reggae
11            RnB
12          Vocal

In [11]:
#Number of songs with year
query = "SELECT COUNT(*) FROM track_genre_clean JOIN track_year USING (tid)"
df = pd.read_sql_query(query, conn)
df

   COUNT(*)
0    112321

In [ ]:
#Pivot table number of songs Majority-Minority
query_pivot = "SELECT LOWER(majority_genre) AS Genre, \
SUM(CASE LOWER(minority_genre) WHEN 'blues' THEN 1 ELSE 0 END) AS Blues, \
SUM(CASE LOWER(minority_genre) WHEN 'country' THEN 1 ELSE 0 END) AS Country, \
SUM(CASE LOWER(minority_genre) WHEN 'electronic' THEN 1 ELSE 0 END) AS Electronic, \
SUM(CASE LOWER(minority_genre) WHEN 'folk' THEN 1 ELSE 0 END) AS Folk, \
SUM(CASE LOWER(minority_genre) WHEN 'international' THEN 1 ELSE 0 END) AS International, \
SUM(CASE LOWER(minority_genre) WHEN 'jazz' THEN 1 ELSE 0 END) AS Jazz, \
SUM(CASE LOWER(minority_genre) WHEN 'latin' THEN 1 ELSE 0 END) AS Latin, \
SUM(CASE LOWER(minority_genre) WHEN 'new age' THEN 1 ELSE 0 END) AS NewAge, \
SUM(CASE LOWER(minority_genre) WHEN 'pop_rock' THEN 1 ELSE 0 END) AS PopRock, \
SUM(CASE LOWER(minority_genre) WHEN 'rap' THEN 1 ELSE 0 END) AS Rap, \
SUM(CASE LOWER(minority_genre) WHEN 'reggae' THEN 1 ELSE 0 END) AS Reggae, \
SUM(CASE LOWER(minority_genre) WHEN 'rnb' THEN 1 ELSE 0 END) AS RnB, \
SUM(CASE LOWER(minority_genre) WHEN 'vocal' THEN 1 ELSE 0 END) AS Vocal \
FROM ({0}) g JOIN ({0}) a ON(g.tid = a.tid) \
GROUP BY g.Genre ORDER BY Genre;".format(query_genres)