In [3]:
import pandas as pd
import numpy as np
import pickle


input_file = open('pivot_dict_withRE.dat','rb')
pivot_dict = pickle.load(input_file)
input_file.close()

In [116]:
df = pivot_dict[2000]
df

,Genre,Blues,Country,Electronic,HipHop,Indie,Jazz,Pop,Rap,Rock
0,blues,550,47,33,53,50,140,160,46,223
1,country,47,550,15,11,92,21,139,21,198
2,electronic,33,15,1576,123,245,372,509,119,468
3,hip-hop,53,11,123,649,70,118,158,389,163
4,indie,50,92,245,70,1229,112,669,105,909
5,jazz,140,21,372,118,112,1531,269,113,305
6,pop,160,139,509,158,669,269,2667,177,1422
7,rap,46,21,119,389,105,113,177,751,277
8,rock,223,198,468,163,909,305,1422,277,4323

In [114]:


df_diag = pd.DataFrame([df[df.Genre[i].title()][i] for i in range(0,len(df.index))])
df_diag = df_diag.set_index(df.Genre)
df_diag.columns = ['1954']
df_diag

         1954
Genre
blues      51
country     7
jazz       50
pop        53
rock       38

In [115]:
order = df_diag.index[np.argsort(df_diag['1954'])]
df_diag_order = df_diag
for i in range(0,len(df.index)):
    df_diag_order['1954'][order[i]]=i

df_diag_order

         1954
Genre
blues       3
country     0
jazz        2
pop         4
rock        1

In [102]:
# Iterate through every year
minYear = 1954
maxYear = 2010

rank_df = pd.DataFrame(index = [u'blues', u'country', u'electronic', u'hip-hop', u'indie', u'jazz',
       u'pop', u'rap', u'rock'])

for year in range(minYear,maxYear+1):
    print(year)
    df = pivot_dict[year]
    numcol = len(df.columns)-1
    df_diag = pd.DataFrame([df[df.columns[i+1]][i] for i in range(0,numcol)])
    df_diag = df_diag.set_index(df.columns[1:10])
    df_diag.columns = [str(year)]
    order = df_diag.index[np.argsort(df_diag['2000'])]
    for i in range(0,9):
        df_diag[year][order[i]]=i
    rank_df.join(df_diag)
rank_df

1954

KeyError: 5

In [96]:
df_diag.columns = ['1888']
df = df.join(df_diag)
df

            2000  1888
Blues          0     0
Country        1     1
Electronic     6     6
HipHop         2     2
Indie          4     4
Jazz           5     5
Pop            7     7
Rap            3     3
Rock           8     8

In [11]:
df.columns[range(1,len(df.columns))]

Index([u'Blues', u'Country', u'Electronic', u'HipHop', u'Indie', u'Jazz',
       u'Pop', u'Rap', u'Rock'],
      dtype='object')

38