In [1]:
import json
import pandas as pd
import pickle
input_file = open('pivot_dict_byDecade.dat','rb')
pivot_dict = pickle.load(input_file)
input_file.close()

In [8]:
df = pivot_dict["2000s"]
df = df.drop(['Genre'], 1)
df

,Alternative,Blues,Country,Dance,Disco,Electronic,Folk,Indie,Jazz,Latin,Metal,Pop,Rap,Reggae,Rock
0,33829,1674,1596,7367,2243,7986,5390,19369,2837,603,5003,19008,2460,537,27954
1,1674,8067,726,1321,365,631,1267,1468,2028,148,322,2878,671,211,4074
2,1596,726,7854,760,179,295,2604,2103,349,44,161,2379,230,41,3620
3,7367,1321,760,25611,3808,12918,1539,7107,2921,1101,1470,14110,2399,1538,11140
4,2243,365,179,3808,6630,3574,620,2545,823,197,475,4156,504,135,3267
5,7986,631,295,12918,3574,32463,1630,8308,4582,746,1841,12909,1889,520,10782
6,5390,1267,2604,1539,620,1630,16172,7149,1366,414,1597,6360,520,241,8625
7,19369,1468,2103,7107,2545,8308,7149,35266,2185,389,2002,20409,1871,398,25508
8,2837,2028,349,2921,823,4582,1366,2185,18305,969,929,4692,1165,428,4485
9,603,148,44,1101,197,746,414,389,969,4452,205,1976,334,365,1554
10,5003,322,161,1470,475,1841,1597,2002,929,205,26421,2912,1221,140,12521
11,19008,2878,2379,14110,4156,12909,6360,20409,4692,1976,2912,51621,3218,906,29861
12,2460,671,230,2399,504,1889,520,1871,1165,334,1221,3218,10494,531,3667
13,537,211,41,1538,135,520,241,398,428,365,140,906,531,4809,1291
14,27954,4074,3620,11140,3267,10782,8625,25508,4485,1554,12521,29861,3667,1291,74823

In [9]:
genres = list(df.columns)
colors = ["#9ACD32", "#377DB8", "#F5DEB3", "#EE82EE", "#40E0D0", "#FF6347",
          "#D8BFD8", "#D2B48C", "#4682B4", "#00FF7F", "#FFFAFA", "#708090",
          "#708090", "#6A5ACD", "#87CEEB"]
genre_color_df = pd.DataFrame(genres, colors)
genre_color_df.columns = ["name"]
genre_color_df.set_index = "color"
genre_color_df

                name
#9ACD32  Alternative
#377DB8        Blues
#F5DEB3      Country
#EE82EE        Dance
#40E0D0        Disco
#FF6347   Electronic
#D8BFD8         Folk
#D2B48C        Indie
#4682B4         Jazz
#00FF7F        Latin
#FFFAFA        Metal
#708090          Pop
#708090          Rap
#6A5ACD       Reggae
#87CEEB         Rock

In [10]:
matrix = []
matrix_np = df.as_matrix()
for vector in matrix_np:
    matrix.append(list(vector))
json.dumps(matrix)

'[[33829, 1674, 1596, 7367, 2243, 7986, 5390, 19369, 2837, 603, 5003, 19008, 2460, 537, 27954], [1674, 8067, 726, 1321, 365, 631, 1267, 1468, 2028, 148, 322, 2878, 671, 211, 4074], [1596, 726, 7854, 760, 179, 295, 2604, 2103, 349, 44, 161, 2379, 230, 41, 3620], [7367, 1321, 760, 25611, 3808, 12918, 1539, 7107, 2921, 1101, 1470, 14110, 2399, 1538, 11140], [2243, 365, 179, 3808, 6630, 3574, 620, 2545, 823, 197, 475, 4156, 504, 135, 3267], [7986, 631, 295, 12918, 3574, 32463, 1630, 8308, 4582, 746, 1841, 12909, 1889, 520, 10782], [5390, 1267, 2604, 1539, 620, 1630, 16172, 7149, 1366, 414, 1597, 6360, 520, 241, 8625], [19369, 1468, 2103, 7107, 2545, 8308, 7149, 35266, 2185, 389, 2002, 20409, 1871, 398, 25508], [2837, 2028, 349, 2921, 823, 4582, 1366, 2185, 18305, 969, 929, 4692, 1165, 428, 4485], [603, 148, 44, 1101, 197, 746, 414, 389, 969, 4452, 205, 1976, 334, 365, 1554], [5003, 322, 161, 1470, 475, 1841, 1597, 2002, 929, 205, 26421, 2912, 1221, 140, 12521], [19008, 2878, 2379, 14110, 4156, 12909, 6360, 20409, 4692, 1976, 2912, 51621, 3218, 906, 29861], [2460, 671, 230, 2399, 504, 1889, 520, 1871, 1165, 334, 1221, 3218, 10494, 531, 3667], [537, 211, 41, 1538, 135, 520, 241, 398, 428, 365, 140, 906, 531, 4809, 1291], [27954, 4074, 3620, 11140, 3267, 10782, 8625, 25508, 4485, 1554, 12521, 29861, 3667, 1291, 74823]]'

In [11]:
with open('visualizations/matrix.json', 'w') as f:
    json.dump(matrix, f)
genre_color_df.to_csv("visualizations/genres.csv")